body {
    margin: 0px;
    background-color: #161b22;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    height: 60px;
}

.board-Background {
    background-color: black;
    width: clamp(345px, 40vw, 638px);
    height: clamp(345px, 40vw, 638px);
    margin-left: calc(50vw - calc(clamp(345px, 40vw, 638px) /  2));
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(3, 32.67%);
    grid-template-rows: repeat(3, 32.67%);
    gap: 1%;
}

.play-Area {
    width: 100%;
    height: 100%;
    background-color: rgb(124, 122, 122);
}



/*  NO LONGER USED.


.input-One {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: calc(50vw - calc(185px / 2));
    top: calc(85px + calc(clamp(345px, 40vw, 638px) / 2));
    background-color: rgb(111, 113, 138);
    height: 150px;
    width: 185px;
}

.input-Two {
    position: absolute;
    display: flex;
    flex-direction: column;
    left: calc(50vw - calc(185px / 2));
    top: calc(85px + calc(clamp(345px, 40vw, 638px) / 2));
    background-color: rgb(111, 113, 138);
    height: 150px;
    width: 185px;
}

#form-One {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    align-items: center;
}

#form-One > input {
    border-radius: 12px;
    border: 0px;
    width: 90%;
    height: 20px;
    text-align: center;
}

.checkbox {
    display: flex;
    justify-content: space-between;
    margin-left: 40px;
    margin-right: 40px;
    padding-bottom: 15px;
    gap:20px
}

.close {
    color: white;
    position: absolute;
    right: 4px;
    top: 4px;
    width: 15px;
    height: 15px;
    background-color: rgb(230, 43, 43);
    border-radius: 50%;
    text-align: center;
    border: 0px;
    padding-top: 3px;
    font-size: 20px;
}

legend {
    margin-top: 9px;
    color: rgb(238, 236, 236);
}

label {
    color: white;
}
*/