body {
    margin: 0px;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
}

.board-Background {
    background-color: black;
    width: clamp(345px, 40vw, 638px);
    height: clamp(345px, 40vw, 638px);
    margin-left: 30vw;
    margin-top: 100px;
}