body {
    margin: 0px;
    background-color: #161b22;
}

.header {
    display: flex;
    justify-content: space-between;
    background-color: lightgrey;
    padding-left: 30px;
    padding-right: 30px;
    align-items: center;
    height: 60px;
}

.board-Background {
    background-color: black;
    width: clamp(345px, 40vw, 638px);
    height: clamp(345px, 40vw, 638px);
    margin-left: 30vw;
    margin-top: 100px;

    display: grid;
    grid-template-columns: repeat(3, 32.67%);
    grid-template-rows: repeat(3, 32.67%);
    gap: 1%;
}

.play-Area {
    width: 100%;
    height: 100%;
    background-color: rgb(124, 122, 122);
}

.input-One {
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 50vw;
    top: calc(160px + calc(clamp(345px, 40vw, 638px) / 2));
    background-color: rgb(111, 113, 138);
    height: 130px;
}

label {
    color: white;
}